body{
    margin: 0%;
  }
  
  .navbar{
  width: 100%;
  display: flex;
  justify-content: center;
  background: radial-gradient(ellipse at top, #2525254e, transparent 70%);
  }
  
  .navbar-text {
    font-family: "Montserrat", sans-serif;
    text-shadow: 0px 0px 2px #0000008b;
  }